@import "reset.css";
@import "content.css";

@font-face {
	font-family: 'PTMonoWebRegular';
	src:
		url('PT-Mono_Regular.woff2') format('woff2'),
		url('PT-Mono_Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTMonoWebBold';
	src:
		url('PT-Mono_Bold.woff2') format('woff2'),
		url('PT-Mono_Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
